:host{
  display: flex;
}

.login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: none;

  img{
    margin-left: 20px;
  }
}
