<main>
  <app-title-header [title]="'Find your drive'"></app-title-header>
  <div class="flex-wrapper">
    <app-carousel-section
      [carouselItems]="cars$ | async"
      [carouselTitle]="'Browse by make'"
      [carouselType]="CarouselEnum.CarCarousel"
    ></app-carousel-section>
    <app-carousel-section
      [carouselItems]="reviews"
      [carouselTitle]="'Alter Hosts'"
      [carouselType]="CarouselEnum.ReviewCarousel"
    ></app-carousel-section>
    <app-faq-section></app-faq-section>
  </div>
</main>
