@use '../../../../base';

//TODO: move to some different stylesheet file for defaults styles
.btn-default {
  padding: 10px;
  background-color: #e9ecef;
  border-radius: 5px;
  border: 1px solid #ced4da;
  font-weight: bold;
  color: #212529;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  cursor: pointer;
  transition: all ease-in-out 0.3s;

  &:hover {
    background-color: base.$yellow-span;
    border: 1px solid base.$yellow-span;
  }
}
