.reviews-wrapper,
.review-section,
.reviews {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews {
    padding: 0 30px;
}

.review-section {
    flex-direction: column;
    height: 50vh;
    padding: 50px 0;
}

.reviews-wrapper{
    img{
        height: 50px;
    }
}

h1{
    text-align: center;
    padding-bottom: 40px;
}