<div class="flex-wrapper wrapper">
  <div class="bg-section">
    <div>
      <app-profile-btn (handleClickEvent)="onLogoutClick()">Logout</app-profile-btn>
    </div>
    <div>
      <ng-container *ngIf="isEditView$ | async">
        <app-profile-btn (handleClickEvent)="onSaveClick()">{{ profileBtn }}</app-profile-btn>
        <app-profile-btn (handleClickEvent)="onCancelClick()">Cancel</app-profile-btn>
      </ng-container>
      <ng-container *ngIf="(isEditView$ | async) === false">
        <app-profile-btn (handleClickEvent)="onEditClick()">{{ profileBtn }}</app-profile-btn>
      </ng-container>
    </div>
  </div>
  <div class="flex-wrapper">
    <div class="profile-section" *ngIf="(isEditView$ | async) === false">
      <div class="profile-info-wrapper">
        <div class="profile-title">
          <h3>{{ userName$ | async }} {{ userLastName$ | async }}.</h3>
          <p>Joined Jul 2022</p>
        </div>
        <div class="profile-info">
          <div class="profile-info-item">
            <p>Approved to drive</p>
            <a href="#">Verify ID</a>
          </div>
          <div class="profile-info-item">
            <p>{{ userEmail$ | async }}</p>
            <a href="#">verified</a>
          </div>
        </div>
      </div>
      <div class="profile-reviews-wrapper">
        <h5>Review from hosts</h5>
        <div class="profile-review-item"></div>
      </div>
    </div>

    <div class="profile-section-edit" *ngIf="isEditView$ | async">
      <div class="profile-section-edit-wrapper">
        <div class="profile-section-column">
          <div class="profile-info">
            <div class="profile-title">
              <h3>{{ userName$ | async }} {{ userLastName$ | async }}.</h3>
              <p>Joined Jul 2022</p>
            </div>
          </div>
          <app-account-edit-form
            [userToken]="token$"
            (userUpdate)="userUpdate($event)"
            (emailUpdate)="userEmailUpdate($event)"
          ></app-account-edit-form>
        </div>
        <div class="profile-section-column">
          <div>
            <h5>About {{ userName$ | async }}</h5>
            <p>
              Tell hosts and guests about yourself and why you’re a responsible, trustworthy person.
              Share your favorite travel experiences, your hobbies, your dream car, or your driving
              experience. Feel free to include links to your LinkedIn, Twitter, or Facebook profiles
              so they get to know you even better.
            </p>
            <textarea
              placeholder="description"
              [formControl]="descriptionCtrl"
              (keydown)="handleUserDescriptionField()"
            ></textarea>
          </div>
          <div>
            <h5>Review from hosts</h5>
            <div class="profile-review-item"></div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <button (click)="handleAddVehicle()">Add Vehicle</button>
    </div>

    <div>
      <app-reservation-user-list [reservations]="reservations$ | async"></app-reservation-user-list>
    </div>
  </div>
</div>
