<app-title-header [title]="'Become a host'"></app-title-header>
<div class="flex-wrapper">
  <div class="introduction-wrapper">
    <h1>Host tools</h1>
    <h3>Get the most out of hosting on Alter</h3>
    <p>
      Whether you’re new to the Turo marketplace or looking for ways to boost your business, get all
      the resources you need right here.
    </p>
  </div>
  <app-guide-section></app-guide-section>
</div>
<app-resource-section></app-resource-section>
<div class="flex-wrapper">
  <app-host-panel-section></app-host-panel-section>
</div>
