.carousel-section {
  padding: 50px 0;
  h1 {
    margin-bottom: 50px;
  }
}

.carousel-content {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: 50px;
  }

  .car-card-wrapper {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(100% / 4);
    overflow: hidden;

    &.spinner-active {
      grid-auto-columns: 100%;
    }

    .carousel-spinner {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .review-card-wrapper {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(100% / 3);
    overflow: hidden;
  }
}

.nav-btn {
  cursor: pointer;
}
