@use '../../../../base';

:host ::ng-deep .personal{
  width: 100%;
}

.signup-btn {
  width: 100%;
  background-color: #000;
  cursor: pointer;
  color: #fff;
  padding: 10px 0;
  border: none;
  border-radius: base.$main-border-rad;
}

.signup-btn:hover {
  background-color: #fbbc05;
  transition: ease-in-out 0.3s all;
}

.personal-info {
  margin-bottom: 10px;
  .personal-inputs {
    display: flex;
  }
  span {
    font-size: 13px;
    margin-left: 10px;
  }
}

.checkbox-terms {
  margin-bottom: 20px;
  .checkbox {
    margin-bottom: 5px;
    label {
      margin-left: 10px;
    }
  }
}
