// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use 'base';
@use '@angular/material' as mat;
@import '~normalize.css/normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;800;900&family=Roboto:wght@300;400;900&display=swap');

$gridGap: 2em;
$mainSidePadding: 6.3em;

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: base.$main-font;
}

.flex-wrapper {
  padding: $gridGap $mainSidePadding;
}

.cta-btn {
  padding: 20px 30px;
  border: none;
  background-color: #000;
  color: #fff;
  font-weight: 700;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
  &:hover {
    color: #000;
    background-color: base.$yellow-span;
  }
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
h3 {
  margin: 0;
}
