@use '../../../../base';

.wrapper-card {
    display: flex;
    flex-direction: column;
    border-radius: base.$main-border-rad;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
    // max-width: 250px;
    // height: 200px;
    padding: 20px;
    margin: 10px;
}

h4, p{
    margin: 0;
}
.header-card {
    display: flex;
    margin-bottom: 50px;
    .user-photo {
        border-radius: 50%;
        margin-right: 40px;
    }
}

.rate-card {
    padding-bottom: 10px;
}